*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    font-family: gilroy;
}

#main{
    height: 100%;
    width: 100%;
    word-spacing: 1px;
    letter-spacing: 1px;
}
#sec1{
    height: 100%;
    width: 100%;
    background-color: oldlace;
    position: relative;
}
#navbar{
    display: flex;
    align-items: center;
    height: 15%;
    width: 100%;
}

#navbar ul{
    list-style: none;
    display: flex;
    position: absolute;
    right: 20px;
}

#navside{
    letter-spacing: 1px;
    text-transform: uppercase;
    position: absolute;
    top: 35px;
    left: 100px;
}

#navbar ul li{
    padding: 10px;
    margin-right: 50px;
    letter-spacing: 1px;
}

#navbar ul li:hover{
    color: white;
    background-color: #b69258;
    border-radius: 4px;
    font-weight: 500;
}

#head1{
    line-height: 60px;
    width: 55%;
    letter-spacing: 2px;
    word-spacing: 2px;
    margin-top: 20px;
    margin-left: 100px;
    font-size: 60px;
    font-weight: 551;
}

#para1{
    margin-left: 100px;
    margin-top: 15px;
    line-height: 25px;
    letter-spacing: 1px;
    word-spacing: 2px;
    width: 40%;
}

#btn1{
    background-color: #b69258;
    color: white;
    margin-left: 100px;
    margin-top: 20px;
    width: 100px;
    height: 30px;
    font-weight: 300;
    letter-spacing: 1px;
    border: none;
    border-radius: 5px;
}

#image1{
    position: absolute;
    bottom: 0;
    left: 1%;
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;
    height: 250px;
    width: 200px;
    background-position: center;
    background-size: cover;
}
#image2{
    position: absolute;
    bottom: 0;
    left: 20%;
    background-position: center;
    background-size: cover;
    border-top-right-radius: 150px;
    border-top-left-radius: 150px;
    height: 300px;
    width: 250px;
}
#image3{
    position: absolute;
    bottom: 0;
    left: 40%;
    border-top-right-radius: 200px;
    border-top-left-radius: 200px;
    height: 350px;
    width: 300px;
    background-position: center;
    background-size: cover;
}
#image4{
    position: absolute;
    bottom: 0;
    left: 65%;
    border-top-right-radius: 300px;
    border-top-left-radius: 300px;
    height: 600px;
    width: 500px;
    background-position: center;
    background-size: cover;
}

#sec2{
    height: 60%;
    width: 100%;
    background: #f7f2ee;
    position: relative;
}
#image5{
    position: absolute;
    left: 12%;
    top: 15%;
    border-top-right-radius: 300px;
    border-top-left-radius: 300px;
    height: 320px;
    width: 260px;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}

#head2{
    position: absolute;
    left: 35%;
    top: 10%;
    font-size: 50px;
    width: 50%;
    word-spacing: 1px;
    letter-spacing: 2px;
    line-height: 55px;
}

#para2{
    position: absolute;
    left: 35%;
    top: 42%;
    width: 50%;
    letter-spacing: 1px;
    word-spacing: 1px;
}
#para3{
    position: absolute;
    left: 35%;
    top: 65%;
    width: 50%;
    letter-spacing: 1px;
    word-spacing: 1px;
}
#btn2{
    background-color: #b69258;
    color: white;
    font-weight: 300;
    letter-spacing: 1px;
    border: none;
    left: 35%;
    top: 81%;
    position: absolute;
    border-radius: 5px;
    width: 80px;
    height: 30px;
}

#sec3{
    height: 70%;
    width: 100%;
    background-color: #f7f2ee;
    position: relative;
}

#head3{
    position: absolute;
    left: 38%;
    top: 30px;
    font-size: 35px;
    letter-spacing: 1px;
}

#sec3 ul{
    position: absolute;
    top: 30%;
    left: 10%;
    list-style: none;
    display: flex;
    align-items: center;
}

#sec3 ul li{
    font-size: 15px;
    margin-right: 30px;
    height: 40%;
    width: 30%;
    letter-spacing: 1px;
    word-spacing: 1px;
    line-height: 25px;
}

#sec3 ul li h1{
    margin-bottom: 15px;
    margin-top: 25px;
}

#list4{
    position: absolute;
    top: 100%;
    margin-top: 50px;
}
#list5{
    position: absolute;
    top: 100%;
    left: 33%;
    margin-top: 50px;
}
#list6{
    position: absolute;
    top: 100%;
    left: 64%;
    margin-top: 50px;
}

#sec4{
    height: 120%;
    width: 100%;
    background-color: #f7f2ee;
    position: relative;
}

#sec4 h1{
    position: absolute;
    left: 10%;
    top: 15%;
    font-size: 50px;
    width: 30%;
    letter-spacing: 1px;
    word-spacing: 1px;
}

#image6{
    position: absolute;
    left: 10%;
    top: 40%;
    border-radius: 10px;
    width: 80%;
    height: 60%;
    background-position: center;
    background-size: cover;
}

#box{
    position: absolute;
    left: 42%;
    top: 13%;
    list-style: none;
    height: 40%;
    width: 40%;
    border-radius: 5px;
    background-color: beige;
}

#box ul{
    list-style: none;
    letter-spacing: 1px;
    word-spacing: 1px;
}
#h51{
    position: absolute;
    left: 25px;
    top: 20px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: white;
    background-color: #b69258;
    align-items: center;
}
#h52{
    position: absolute;
    left: 25px;
    top: 115px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #b69258;
}
#h53{
    position: absolute;
    left: 25px;
    top: 215px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
    background-color: #b69258;
}

#h61{
    position: absolute;
    top: 18px;
    left: 85px;
    font-size: 22px;
}
#h62{
    position: absolute;
    top: 115px;
    left: 85px;
    font-size: 22px;
}
#h63{
    position: absolute;
    top: 215px;
    left: 85px;
    font-size: 22px;
}

#para4{
    position: absolute;
    margin-right: 20px;
    margin-top: 5px;
    top: 50px;
    left: 88px;
}
#para5{
    position: absolute;
    margin-right: 45px;
    margin-top: 5px;
    top: 150px;
    left: 88px;
}
#para6{
    position: absolute;
    margin-right: 29px;
    margin-top: 5px;
    top: 250px;
    left: 88px;
}

#sec5{
    height: 100%;
    width: 100%;
    background: #f7f2ee;
    position: relative;
}

#sec5 h1{
    font-size: 35px;
    width: 22%;
    height: 20%;
    position: absolute;
    top: 25%;
    left: 10%;
    letter-spacing: 1px;
    word-spacing: 1px;
}

#sec5 ul{
    list-style: none;
    position: absolute;
    top: 50%;
    left: 10%;
    letter-spacing: 1px;
    word-spacing: 1px;
    line-height: 30px;
}

#btn3{
    position: absolute;
    left: 10%;
    top: 72%;
    height: 30px;
    width: 100px;
    border-radius: 3px;
    background-color: #b69258;
    color: white;
    border: none;
    letter-spacing: 1px;
    word-spacing: 1px;
}

#image7{
    top: 12%;
    position: absolute;
    right: 10%;
    height: 60%;
    width: 31%;
    border-top-left-radius: 350px;
    border-top-right-radius: 350px;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}

#image8{
    position: absolute;
    top: 75%;
    right: 10%;
    height: 15%;
    width: 15%;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}
#image9{
    position: absolute;
    top: 75%;
    right: 25%;
    height: 15%;
    width: 15%;
    margin-right: 15px;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}

#sec6{
    height: 100%;
    width: 100%;
    background: #f7f2ee;
    position: relative;
}

#image10{
    position: absolute;
    left: 10%;
    height: 60%;
    width: 31%;
    border-top-left-radius: 350px;
    border-top-right-radius: 350px;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}

#image11{
    top: 63%;
    position: absolute;
    left: 10%;
    height: 15%;
    width: 15%;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}
#image12{
    top: 63%;
    position: absolute;
    left: 25%;
    height: 15%;
    width: 15%;
    margin-left: 15px;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}

#sec6 h1{
    font-size: 40px;
    position: absolute;
    letter-spacing: 1px;
    word-spacing: 1px;
    right: 27%;
    top: 10%;
}

#sec6 p{
    position: absolute;
    letter-spacing: 1px;
    word-spacing: 1px;
    right: 9%;
    width: 32%;
    top: 20%;
}

#number{
    position: absolute;
    letter-spacing: 1px;
    word-spacing: 1px;
    right: 30%;
    top: 30%;
    color: #b69258;
    text-decoration: none;
}
#email{
    position: absolute;
    letter-spacing: 1px;
    word-spacing: 1px;
    right: 26%;
    top: 34%;
    color: #b69258;
    text-decoration: none;
}

#form{
    height: 38%;
    width: 32%;
    position: absolute;
    right: 9%;
    bottom: 22%;
    border-radius: 5px;
    background-color: #b69258;
    color: white;
}

#b1{
    position: absolute;
    top: 25px;
    left: 15px;
    font-weight: 300;
    font-size: 20px;
}
#b2{
    position: absolute;
    top: 85px;
    left: 15px;
    font-weight: 300;
    font-size: 20px;
}
#b3{
    position: absolute;
    top: 145px;
    left: 15px;
    font-weight: 300;
    font-size: 20px;
}

#name{
    font-size: 15px;
    background: none;
    position: absolute;
    top: 55px;
    left: 15px;
    font-weight: 300;
    width: 90%;
    color: white;
    border-color: white;
    border-top: black;
    border-left: black;
    border-right: black;
}
#Email{
    font-size: 15px;
    background: none;
    width: 90%;
    position: absolute;
    top: 115px;
    left: 15px;
    font-weight: 300;
    color: white;
    border-color: white;
    border-top: black;
    border-left: black;
    border-right: black;
}
#message{
    font-size: 15px;
    background: none;
    position: absolute;
    width: 90%;
    top: 175px;
    border-color: white;
    left: 15px;
    font-weight: 300;
    border-top: black;
    border-left: black;
    border-right: black;
    color: white;
}

::placeholder{
    color: white;
}

#btn4{
    height: 25px;
    width: 80px;
    background-color: white;
    color: #b69258;
    border: none;
    position: absolute;
    left: 15px;
    top: 215px;
    border-radius: 3px;
}

#foot{
    height: 40%;
    width: 100%;
    background-color: #242424;
    color: white;
    position: relative;
}

#foot h1{
    position: absolute;
    top: 20%;
    left: 10%;
}

#foot p{
    position: absolute;
    top: 36%;
    left: 10%;
    width: 20%;
}

#ul1{
    position: absolute;
    top: 20%;
    left: 40%;
    list-style: none;
}
#ul2{
    position: absolute;
    top: 20%;
    left: 60%;
    list-style: none;
}
#ul3{
    position: absolute;
    top: 20%;
    left: 80%;
    list-style: none;
}

#ul1 h5{
    margin-bottom: 15px;
    font-size: 18px;
}
#ul2 h5{
    margin-bottom: 15px;
    font-size: 18px;
}
#ul3 h5{
    margin-bottom: 15px;
    font-size: 18px;
}

#ul1 li{
    color: gray;
    line-height: 20px;
}
#ul2 li{
    color: gray;
    line-height: 20px;
}
#ul3 a{
    color: #b69258;
    text-decoration: none;
    line-height: 20px;
}

.ri-phone-line{
    margin-right: 10px;
}
.ri-mail-line{
    margin-right: 10px;
}
.ri-compass-2-line{
    margin-right: 10px;
    color: #b69258;
}

.icons{
    height: 150px;
    width: 150px;
    color: white;
    font-size: 25px;
    padding: 15px;
    border-radius: 50%;
    background-color: #b69258;
}

#logo1{
    position: absolute;
    height: 15%;
    width: 8%;
    top: -32px;
    left: 90px;
}

#logo2{
    position: absolute;
    height: 30%;
    width: 10%;
    top: 0px;
    height: 30%;
    left: 140px;
}

.second{
    color: red; 
}

